@{
  ViewBag.Title = "Chinook Db Intializer";
  Layout = "_Layout";
}

<h2>Chinook database initializer</h2>
<a class="btn btn-default" asp-controller="DataBase" asp-action="CreateDataBase">Initializer</a>

